/* .mypanel .p-panel-header{
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    
} */
.mypanel>[class~=p-panel-header]{
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    
}